$primary: #5119F0;
$primary-dark: #3900B9;
$primary-dark2: #240076;
$primary-light: #EFEDFF;
$primary-light2: #B6B5FF; 
$primary-disable: #B6B5FF;

$neutral: #7c818d;
$neutral-light1: #a3a8b5;
$neutral-light2: #dddfe7;
$neutral-light-grey: #e9ecf3;

$dark-grey:#212121;
$hover-on-black:#323436;
$medium-grey:#646D78;
$light-grey:#A0ABBA;
$light-grey2:#E3E7F0;
$grey-bg:#F7F8FC;
